{% extends 'base.html'%}
{% load static %}
{% block content %}
 <main>

<!--      <div class="w-100 overflow-hidden bg-gray-100" id="top">-->
<!--          <div class="container position-relative">-->
<!--              <div class="col-12 col-lg-8 mt-0 h-100 position-absolute top-0 end-0 bg-cover" data-aos="fade-left" style="background-image: url('{% static 'img/webp/interior11.webp' %}');">-->
<!--              </div>-->
<!--            <div class="row">-->
<!--                <div class="col-lg-7 py-vh-6 position-relative" data-aos="fade-right">-->
<!--                  <h1 class="display-1 fw-bold mt-5">Sell more useless stuff faster!</h1>-->
<!--                      <p class="lead">To be honest, this is just a stupid placeholder text. We don´t know how to sell anything, not even lesser or slower as you.</p>-->
<!--                      <a href="#" class="btn btn-dark btn-xl shadow me-3 rounded-0 my-5">Get started free</a>-->
<!--                </div>-->
<!--            </div>-->
<!--          </div>-->
<!--      </div>-->

     {% for banner in banners %}
        <div class="w-100 overflow-hidden bg-gray-100" id="top">
          <div class="container position-relative">

            {% if banner.image %}
            <div class="col-12 col-lg-8 mt-0 h-100 position-absolute top-0 end-0 bg-cover" data-aos="fade-left"
                 style="background-image: url('{{ banner.image.url }}');">
            </div>
            {% endif %}

            <div class="row">
              <div class="col-lg-7 py-vh-6 position-relative" data-aos="fade-right">
                <h1 class="display-1 fw-bold mt-5">{{ banner.title }}</h1>

                {% if banner.description %}
                  <div class="position-relative">
                    {{ banner.description|safe }}
                  </div>
                {% endif %}

                {% if banner.link %}
                  <a href="{{ banner.link }}" class="btn btn-dark btn-xl shadow me-3 rounded-0 my-5">Get started free</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
     {% endfor %}

      <div class="py-vh-5 w-100 overflow-hidden" id="home">
      <div class="container">
        <div class="row d-flex justify-content-end">
            <div class="col-lg-8" data-aos="fade-down">
            {% for banner in banners %}
              {% if banner.banner_content %}
                <div class="display-6">
                  {{ banner.banner_content|safe }}
                </div>
              {% endif %}
            {% endfor %}
         </div>
        </div>
        <br/>

        <div class="row d-flex align-items-center">
              {% for item in about_items %}
                <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="{{ forloop.counter0|add:"1" }}00">
                  {% if item.number %}
                    <span class="h5 fw-lighter">{{ item.number }}</span>
                  {% endif %}

                  {% if item.title %}
                    <h3 class="py-5 border-top border-dark">{{ item.title }}</h3>
                  {% endif %}

                  {% if item.description %}
                    <p>{{ item.description|safe }}</p>
                  {% endif %}

                  {% if item.link %}
                    <a href="{{ item.link }}" class="link-fancy">Learn more</a>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
      </div>
      </div>

   <section class="py-vh-4 bg-gray-100 w-100" id="mission">
          <div class="container">
            {% for mission in missions %}
              <div class="row align-items-center justify-content-between mb-5">
                <!-- Images Section -->
                <div class="col-lg-6">
                  <div class="row gx-5 d-flex">
                    {% if mission.image1 %}
                      <div class="col-md-11">
                        <div class="image-card shadow ratio ratio-16x9 rounded align-self-end" data-aos="fade-right" style="--bs-aspect-ratio: 50%;">
                          <div class="bg-img" style="background-image: url('{{ mission.image1.url }}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                          <div class="overlay"></div>
                        </div>
                      </div>
                    {% endif %}

                    {% if mission.image2 %}
                      <div class="col-md-5 offset-md-1">
                        <div class="image-card shadow ratio ratio-1x1 rounded mt-5 float-end" data-aos="fade-up">
                          <div class="bg-img" style="background-image: url('{{ mission.image2.url }}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                          <div class="overlay"></div>
                        </div>
                      </div>
                    {% endif %}

                    {% if mission.image3 %}
                      <div class="col-md-6">
                        <div class="image-card shadow ratio rounded mt-5" data-aos="fade-left" style="--bs-aspect-ratio: 150%;">
                          <div class="bg-img" style="background-image: url('{{ mission.image3.url }}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                          <div class="overlay"></div>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </div>

                <!-- Text Section -->
                <div class="col-lg-5">
                  {% if mission.title %}
                    <h2 class="display-6 fw-bold mb-4" data-aos="fade-left">{{ mission.title }}</h2>
                  {% endif %}

                  {% if mission.description %}
                    <div class="lead text-muted" data-aos="fade-left" data-aos-delay="100">
                      {{ mission.description|safe }}
                    </div>
                  {% endif %}

                  {% if mission.link %}
                    <a href="{{ mission.link }}" class="btn btn-outline-dark mt-3" data-aos="fade-left" data-aos-delay="200">Discover More</a>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
    </section>

   <section class="py-vh-4 bg-gray-100 w-100" id="ourvision">
     <div class="container">
        {% for vision in visions %}
          <div class="row align-items-center justify-content-between mb-5">
            <!-- Images Section -->
            <div class="col-lg-6">
              <div class="row gx-5 d-flex">
                {% if vision.image1 %}
                  <div class="col-md-11">
                    <div class="image-card shadow ratio ratio-16x9 rounded align-self-end" data-aos="fade-right" style="--bs-aspect-ratio: 50%;">
                      <div class="bg-img" style="background-image: url('{{ vision.image1.url }}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                      <div class="overlay"></div>
                    </div>
                  </div>
                {% endif %}
                {% if vision.image2 %}
                  <div class="col-md-5 offset-md-1">
                    <div class="image-card shadow ratio ratio-1x1 rounded mt-5 float-end" data-aos="fade-up">
                      <div class="bg-img" style="background-image: url('{{ vision.image2.url }}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                      <div class="overlay"></div>
                    </div>
                  </div>
                {% endif %}
                {% if vision.image3 %}
                  <div class="col-md-6">
                    <div class="image-card shadow ratio rounded mt-5" data-aos="fade-left" style="--bs-aspect-ratio: 150%;">
                      <div class="bg-img" style="background-image: url('{{ vision.image3.url }}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                      <div class="overlay"></div>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>

            <!-- Text Section -->
            <div class="col-lg-5">
              {% if vision.title %}
                <h2 class="display-6 fw-bold mb-4" data-aos="fade-left">{{ vision.title }}</h2>
              {% endif %}
              {% if vision.description %}
                <p class="lead text-muted" data-aos="fade-left" data-aos-delay="100">
                  {{ vision.description|safe }}
                </p>
              {% endif %}
              {% if vision.link %}
                <a href="{{ vision.link }}" class="btn btn-outline-dark mt-3" data-aos="fade-left" data-aos-delay="200">Discover More</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
   </section>


   <section class="py-vh-4 bg-gray-100 w-100" id="ourservices">
          <div class="container">
            {% for service in services %}
              <div class="row align-items-center justify-content-between mb-5">
                <!-- Images Section -->
                <div class="col-lg-6">
                  <div class="row gx-5 d-flex">
                    {% if service.image1 %}
                      <div class="col-md-11">
                        <div class="image-card shadow ratio ratio-16x9 rounded align-self-end" data-aos="fade-right" style="--bs-aspect-ratio: 50%;">
                          <div class="bg-img" style="background-image: url('{{ service.image1.url }}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                          <div class="overlay"></div>
                        </div>
                      </div>
                    {% endif %}

                    {% if service.image2 %}
                      <div class="col-md-5 offset-md-1">
                        <div class="image-card shadow ratio ratio-1x1 rounded mt-5 float-end" data-aos="fade-up">
                          <div class="bg-img" style="background-image: url('{{ service.image2.url }}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                          <div class="overlay"></div>
                        </div>
                      </div>
                    {% endif %}

                    {% if service.image3 %}
                      <div class="col-md-6">
                        <div class="image-card shadow ratio rounded mt-5" data-aos="fade-left" style="--bs-aspect-ratio: 150%;">
                          <div class="bg-img" style="background-image: url('{{ service.image3.url }}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                          <div class="overlay"></div>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </div>

                <!-- Text Section -->
                <div class="col-lg-5">
                  {% if service.title %}
                    <h2 class="display-6 fw-bold mb-4" data-aos="fade-left">{{ service.title }}</h2>
                  {% endif %}
                  {% if service.description %}
                    <div class="lead text-muted" data-aos="fade-left" data-aos-delay="100">
                      {{ service.description|safe }}
                    </div>
                  {% endif %}
                  {% if service.link %}
                    <a href="{{ service.link }}" class="btn btn-outline-dark mt-3" data-aos="fade-left" data-aos-delay="200">Discover More</a>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
   </section>


      <section class="py-vh-4 bg-gray-100 w-100" id="ourvalue">
          <div class="container">
            {% for value in values %}
              <div class="row align-items-center justify-content-between mb-5">
                <!-- Text Section -->
                <div class="col-lg-5">
                  {% if value.title %}
                    <h2 class="display-6 fw-bold mb-4" data-aos="fade-left">{{ value.title }}</h2>
                  {% endif %}

                  {% if value.description %}
                    <p class="lead text-muted" data-aos="fade-left" data-aos-delay="100">
                      {{ value.description|safe }}
                    </p>
                  {% endif %}

                  {% if value.link %}
                    <a href="{{ value.link }}" class="btn btn-outline-dark mt-3" data-aos="fade-left" data-aos-delay="200">Discover More</a>
                  {% endif %}
                </div>

                <!-- Images Section -->
                <div class="col-lg-6">
                  <div class="row gx-5 d-flex">
                    {% if value.image1 %}
                      <div class="col-md-11">
                        <div class="image-card shadow ratio ratio-16x9 rounded align-self-end" data-aos="fade-right" style="--bs-aspect-ratio: 50%;">
                          <div class="bg-img" style="background-image: url('{{ value.image1.url }}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                          <div class="overlay"></div>
                        </div>
                      </div>
                    {% endif %}

                    {% if value.image2 %}
                      <div class="col-md-5 offset-md-1">
                        <div class="image-card shadow ratio ratio-1x1 rounded mt-5 float-end" data-aos="fade-up">
                          <div class="bg-img" style="background-image: url('{{ value.image2.url }}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                          <div class="overlay"></div>
                        </div>
                      </div>
                    {% endif %}

                    {% if value.image3 %}
                      <div class="col-md-6">
                        <div class="image-card shadow ratio rounded mt-5" data-aos="fade-left" style="--bs-aspect-ratio: 150%;">
                          <div class="bg-img" style="background-image: url('{{ value.image3.url }}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                          <div class="overlay"></div>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </section>

    <section class="py-vh-4 bg-gray-100 w-100" id="leadership">
      <div class="container">
        {% for leader in leadership %}
          <div class="row align-items-center justify-content-between mb-5">
            <!-- Text Section -->
            <div class="col-lg-5">
              {% if leader.title %}
                <h2 class="display-6 fw-bold mb-4" data-aos="fade-left">{{ leader.title }}</h2>
              {% endif %}
              {% if leader.description %}
                <p class="lead text-muted" data-aos="fade-left" data-aos-delay="100">
                  {{ leader.description|safe }}
                </p>
              {% endif %}
              {% if leader.link %}
                <a href="{{ leader.link }}" class="btn btn-outline-dark mt-3" data-aos="fade-left" data-aos-delay="200">Discover More</a>
              {% endif %}
            </div>

            <!-- Images Section -->
            <div class="col-lg-6">
              <div class="row gx-5 d-flex">
                {% if leader.image1 %}
                  <div class="col-md-11">
                    <div class="shadow ratio ratio-16x9 rounded bg-cover bp-center align-self-end" data-aos="fade-right"
                      style="background-image: url('{{ leader.image1.url }}'); --bs-aspect-ratio: 50%;">
                    </div>
                  </div>
                {% endif %}

                {% if leader.image2 %}
                  <div class="col-md-5 offset-md-1">
                    <div class="shadow ratio ratio-1x1 rounded bg-cover mt-5 bp-center float-end" data-aos="fade-up"
                      style="background-image: url('{{ leader.image2.url }}');">
                    </div>
                  </div>
                {% endif %}

                {% if leader.image3 %}
                  <div class="col-md-6">
                    <div class="col-12 shadow ratio rounded bg-cover mt-5 bp-center" data-aos="fade-left"
                      style="background-image: url('{{ leader.image3.url }}'); --bs-aspect-ratio: 150%;">
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>



   <div class="position-relative overflow-hidden w-100 bg-light" id="gallery">
      <div class="container-fluid">
          <div class="row overflow-scroll">
            <div class="col-12">
              <div class="row vw-100 px-0 py-vh-5 d-flex align-items-center scrollx">
                {% for item in gallery %}
                  <div class="col-md-2" data-aos="fade-up" data-aos-delay="{{ forloop.counter0|add:"1" }}00">
                    {% if item.image %}
                      <img src="{{ item.image.url }}" class="img-fluid rounded shadow" alt="{{ item.title }}" />
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
   </div>


    <div class="container py-vh-4 w-100 overflow-hidden">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-5">
          {% if client_messages %}
            <h3 class="py-5 border-top border-dark" data-aos="fade-right">
              {{ client_messages.0.title }}
            </h3>
          {% else %}
            <h3 class="py-5 border-top border-dark" data-aos="fade-right">
              What our clients say
            </h3>
          {% endif %}
        </div>

        {% for message in client_messages %}
          <div class="col-md-7" data-aos="fade-left">
            <blockquote>
              <div class="fs-4 my-3 fw-light pt-4 border-bottom pb-3">
                {{ message.message|safe }}
              </div>
            </blockquote>
          </div>
        {% endfor %}
      </div>
    </div>


      <div class="py-vh-6 bg-gray-900 text-light w-100 overflow-hidden" id="contact">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            {% for contact in contacts %}
              <div class="col-lg-8 text-center" data-aos="fade">
                {% if contact.title %}
                  <p class="text-secondary lead">{{ contact.title }}</p>
                {% endif %}
                {% if contact.message %}
                  <h2 class="display-6 mb-5">{{ contact.message|safe }}</h2>
                {% endif %}
              </div>
              <div class="col-12">
                {% if contact.link %}
                  <a href="{{ contact.link }}" class="btn btn-warning btn-xl shadow me-3 mt-4" data-aos="fade-down">Get in contact</a>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>


<div class="small py-vh-3 w-100 overflow-hidden">
  <div class="container">
    <div class="row">
      {% for service in service_contents %}
      <div class="col-md-6 col-lg-4 border-end" data-aos="fade-up">
        <div class="d-flex">
          <div class="col-md-3 flex-fill pt-3 pe-3 pe-md-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-box-seam" viewbox="0 0 16 16">
              <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
            </svg>
          </div>
          <div class="col-md-9 flex-fill">
            <h3 class="h5 my-2">{{ service.title }}</h3>
            <p>{{ service.description|safe }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

      </div>
      </div>
      </div>
      </div>

 </main>


 {% endblock %}